<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Metadatos -->
  <%- include('../partials/meta.ejs')%>

    <!-- links -->
    <link rel="stylesheet" href="/css/productCreate.css"><!-- Cristian -->

    <!--Custom Css-->
    <%- include('../partials/css.ejs')%>

      <!-- Font -->
      <link rel="" href="" />

      <!-- Titulo de la Pag -->
      <title>ElectroTools - Edición de Producto</title>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs')%>
  </header>

  <main>
    <!-- Cristian -->
    <div class="mainConteiner">
      <section class="formConteiner">
          <h1 class="title">EDICION DE PRODUCTOS</h1>
          <form action="/products/edit/<%= product.id %>?_method=put" method="post" enctype="multipart/form-data" id="form">
          
            <label for="name" id="labelName">Nombre (requerido)
              <% if(locals.errors && errors.name){ %>
                <span class="attention"><%= errors.name.msg %></span>
              <% } %>
            </label>
            <div class="divInput">
              <input type="text" name="name" id="name" value="<%= product.name %>">
            </div>
                    
            <label for="brand">Marca</label>
            <div class="divInput">
              <!--<input type="text" name="brand" id="brand" value="<%= product.brand %>">-->
              <select name="brand" id="brand" class="file">
                <% for(let brand of brands) { %>
                  <% if(product.productBrand.id === brand.id) { %>
                    <option value="<%= brand.id %>" selected><%= brand.name %></option>
                  <% } else { %>
                    <option value="<%= brand.id %>"><%= brand.name %></option>
                  <% } %>
                <% } %>
              </select>
            </div>
                    
            <label for="model">Modelo</label>
            <div class="divInput">
              <input type="text" name="model" id="model" value="<%= product.model %>">
            </div>

            <label for="description" id="labelDescription">Descripcion (requerido)
              <% if(locals.errors && errors.description){ %>
                <span class="attention"><%= errors.description.msg %></span>
              <% } %>
            </label>
            <div class="divInput">
              <textarea name="description" id="description" class="description"><%= product.description %></textarea>
            </div>

            <label for="price">Precio</label>
            <div class="divInput">
              <input type="text" name="price" id="price" value="<%= product.price %>">
            </div>

            <label for="units">Cantidad</label>
            <div class="divInput">
              <input type="text" name="units" id="units" value="<%= product.units %>">
            </div>
                    
            <!--<label for="discount">Descuento del producto</label>
            <div class="divInput">
              <input type="text" name="discount" id="discount" value="<%= product.discount %>">
            </div>-->
                    
            <!--<label for="interest">Interes del producto</label>
            <div class="divInput">
              <input type="text" name="interest" id="interest" value="<%= product.interest %>">
            </div>-->

            <!--<label for="plan">Cuotas del producto</label>
            <div class="divInput">
              <input type="text" name="plan" id="plan" value="<%= product.plan %>">
            </div>-->

            <!--<label for="color">Color del producto</label>
            <div class="divInput">
              <input type="text" name="color" id="color" value="<%= product.color %>">
            </div>-->

            <label for="voltage">Voltage</label>
            <div class="divInput">
              <input type="text" name="voltage" id="voltage" value="<%= product.productDetail.voltage %>">
            </div>

            <label for="frequency">Frecuencia</label>
            <div class="divInput">
              <input type="text" name="frequency" id="frequency" value="<%= product.productDetail.frequency %>">
            </div>

            <label for="power">Potencia</label>
            <div class="divInput">
              <input type="text" name="power" id="power" value="<%= product.productDetail.power %>">
            </div>

            <label for="extras">Informacion extra</label>
            <div class="divInput">
              <input type="text" name="extras" id="extras" value="<%= product.productDetail.extras %>">
            </div>
            
            <!--<label for="generalCharacteristics">Ingrese las caracteristicas del producto</label>
            <div class="divInput">
              <input type="text" name="generalCharacteristics" id="generalCharacteristics" value="<%= product.generalCharacteristics %>">
            </div>-->
            
            <label for="userManual">Manual</label>
            <div class="divInput">
              <input type="text" name="userManual" id="userManual" value="<%= product.productDetail.manual %>">
            </div>
            
            <label for="image" id="labelImage">Imagenes
              <% if(locals.errors && errors.image && product.productImages.length == 0){ %>
                <span class="attention"><%= errors.image.msg %></span>
              <% } %>
            </label>
            <div class="divInput">
              <input type="file" multiple name="image" id="image" class="">
            </div>

            <!-- Cristian: Trabajo sin terminar. La idea es dar la posibilidad de eliminar las imagenes cargadas. -->
            <label id="labelImageOk">Imagenes cargadas</label>
            <div class="divInput">
              <% if(product.productImages.length > 0){ %>
                <input type="radio" name="imageOk" checked style="display: none" id="imageOk">
                <% for(let image of product.productImages){ %>
                  <img src="/img/products/<%= image.image %>" alt="Imagen mini del producto" height="100rem">
                <% } %>
              <% }else{ %>
                <p>No hay imagenes cargadas.</p>
              <% } %>

            </div>

            <div>
              <button type="submit" class="submit">Actualizar</button>
            </div>
  
          </form>
      </section>
  </div>
  <!-- /Cristian -->
  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
  <script src="/js/productValidationsEdit.js"></script>
</body>

</html>