<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/meta.ejs')%>

  <%- include('../partials/css.ejs')%>

  <link rel="stylesheet" href="/css/productCreate.css">

  <title>Creación de productos</title>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <main>
    <!-- Cristian -->
    <div class="mainConteiner">
      <section class="formConteiner">
        <h1 class="title">REGISTRO DE PRODUCTOS</h1>
        <form action="/products/create" method="post" enctype="multipart/form-data" id="form">

          <label for="name" id="labelName">Nombre del producto (requerido)</label>
          <div class="divInput">
            <input type="text" name="name" id="name" placeholder="Ej: Taladro 13mm 750w">
          </div>

          <label for="brand">Marca del producto</label>
          <div class="divInput">
            <!--<input type="text" name="brand" id="brand" placeholder="Ej: DeWalt">-->
            <select name="brand" id="brand" class="file">
              <% for(let brand of brands) { %>
              <option value="<%= brand.id %>">
                <%= brand.name %>
              </option>
              <% } %>
            </select>
          </div>

          <label for="model">Modelo del producto</label>
          <div class="divInput">
            <input type="text" name="model" id="model" placeholder="Ej: SDS DCH133hd 20V">
          </div>

          <label for="description" id="labelDescription">Descripcion del producto (requerido)</label>
          <div class="">
            <textarea name="description" id="description" placeholder="Escriba una descripcion..."
              class="description"></textarea>
          </div>

          <label for="price">Precio del producto</label>
          <div class="divInput">
            <input type="text" name="price" id="price" placeholder="Ej: 999999">
          </div>
          
          <label for="units">Cantidad disponible del producto</label>
          <div class="divInput">
            <input type="text" name="units" id="units" placeholder="Ej: 20">
          </div>

          <!--<label for="discount">Ingrese el descuento del producto</label>
          <div class="divInput">
            <input type="text" name="discount" id="discount" placeholder="Ej: 50">
          </div>-->

          <!--<label for="interest">Ingrese el interes del producto</label>
          <div class="divInput">
            <input type="text" name="interest" id="interest" placeholder="Ej: 10">
          </div>-->

          <!--<label for="plan">Ingrese las cuotas del producto</label>
          <div class="divInput">
            <input type="text" name="plan" id="plan" placeholder="Ej: 6">
          </div>-->

          <!--<label for="color">Ingrese el color del producto</label>
          <div class="divInput">
            <input type="text" name="color" id="color" placeholder="Ej: Rojo">
          </div>-->

          <label for="voltage">Voltage del producto</label>
          <div class="divInput">
            <input type="text" name="voltage" id="voltage" placeholder="Ej: 220">
          </div>

          <label for="frequency">Frecuencia del producto</label>
          <div class="divInput">
            <input type="text" name="frequency" id="frequency" placeholder="Ej: 50hz">
          </div>

          <label for="power">Potencia del producto</label>
          <div class="divInput">
            <input type="text" name="power" id="power" placeholder="Ej: 800w">
          </div>

          <label for="extras">Informacion extra</label>
          <div class="divInput">
            <input type="text" name="extras" id="extras" placeholder="Ej: Apto para tal material, etc">
          </div>

          <label for="userManual">Manual del producto</label>
          <div class="divInput">
            <input type="text" name="userManual" id="userManual" placeholder="Ej: http://manual.com">
          </div>

          <label for="image" id="labelImage">Imagen del producto (requerido)</label>
          <div class="divInput">
            <input type="file" multiple name="image" id="image" class="file">
          </div>

          <div>
            <button type="submit" class="submit" id="formButton">Guardar</button>
          </div>

        </form>
      </section>
    </div>
    <!-- /Cristian -->
  </main>
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
  <script src="/js/productCreate.js"></script>
</body>

</html>