<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Metadatos -->
  <%- include('../partials/meta.ejs')%>

    <%- include('../partials/css.ejs')%>

      <link rel="stylesheet" href="/css/index.css" />

      <!-- Font -->
      <link rel="" href="" />


      <!-- Titulo de la Pag -->
      <title>ElectroTools - Products</title>
</head>

<body>
  <!-- Cuerpo -->

  <header>
    <!-- Encabezado -->
    <%- include('../partials/header.ejs')%>
  </header>

  <main>
    <!-- principal -->
    
    <!-- Carrousel Principal -->
    <%- include('../partials/carrousel.ejs')%>

    <!-- Productos -->

    <section class="novedades productos" id="novedades">
      <div class="recomendaciones">
        <h3 class="titulo">Productos</h3>
        <a href="/products/create">Agregar</a><!-- Cristian: Hay que encontrar un lugar para esto -->
        

        <section class="tarjetas">
          <% for(let product of products) { %>
          <%- include('../partials/productCard.ejs', {product}) %>
          <% } %>
          <div class="next">
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </section>
      </div>
    </section>

  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

  <!-- Scrips -->
  <script src="https://kit.fontawesome.com/30f2e17de6.js" crossorigin="anonymous"></script>

</body>
</html>