<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Metadatos -->
  <%- include('./partials/meta.ejs')%>

    <%- include('./partials/css.ejs')%>

      <link rel="stylesheet" href="/css/index.css" />

      <!-- Font -->
      <link rel="" href="" />

      <!-- Titulo de la Pag -->
      <title>ElectroTools - Home</title>
</head>

<body>
  <!-- Cuerpo -->

  <header>
    <!-- Encabezado -->
    <%- include('./partials/header.ejs')%>
  </header>

  <main>
    <!-- principal -->

    <!-- Carrousel Principal -->
    <%- include('./partials/carrousel.ejs')%>

    <!-- Novedades -->

    <section class="novedades productos" id="novedades">
      <div class="recomendaciones">
        <h3 class="titulo">Novedades</h3>

        <section class="tarjetas">

          Aqui van productos

          <!-- include("./partials/productCard.ejs", {product: products[1]}) -->

            <div class="next">
              <i class="fa-solid fa-arrow-right"></i>
            </div>

        </section>
      </div>
    </section>

    <!-- Caja de Herramientas -->

    <section class="caja-de-herramientas" id="cajaherramientas">

      <h2>CAJA DE HERRAMIENTAS</h2>
      <h3>Hemos separado para usted los principales articulos para ayudarle en su rutina de trabajo</h3>

      <div class="tarjetas-contenedor">
        <div class="tarjetas">
          <img src="/img/imgCajaDeHerramientas/madera.jpg" alt="Madera">
          <h4>MADERA</h4>
          <a href="#">Ver coleccion ></a>
        </div>
        <div class="tarjetas">
          <img src="/img/imgCajaDeHerramientas/mamposteria.jpg" alt="Madera">
          <h4>MAMPOSTERIA</h4>
          <a href="#">Ver coleccion ></a>
        </div>
        <div class="tarjetas">
          <img src="/img/imgCajaDeHerramientas/metal.jpg" alt="Madera">
          <h4>METAL</h4>
          <a href="#">Ver coleccion ></a>
        </div>
      </div>

    </section>

    <!-- Ofertas -->

    <section class="productos" id="ofertas">

      <div class="recomendaciones ofertas">
        <h3 class="titulo">OFERTAS</h3>

          <section class="tarjetas">

            Aqui van productos

            <!-- include("./partials/productCard.ejs", {product: products[1]}) -->
  
              <div class="next">
                <i class="fa-solid fa-arrow-right"></i>
              </div>
              
          </section>

      </div>

    </section>

    <!-- Animate con ElectroTools (ex conozca mas) -->

    <section class="animate">
      <h2>Animate con ElectroTools</h2>
      <div class="tarjetas">
        <div class="tarjeta1">
          <iframe src="https://www.youtube.com/embed/0_q1LyrvrmA" title="Como hacer MUEBLE MONTESSORI" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div class="tarjeta2">
          <div class="tarjeta2A">
            <a href="">
              <img src="/img/imgAnimateConElectroTools/Herramientas manuales.jpg" class="img2A" alt="herramientas">
            </a>
            <div class="info2A">Herramientas manuales</div>
          </div>
          <br>
          <div class="tarjeta2B">
            <a href="/products">
              <img src="img/imgAnimateConElectroTools/Herramientas electricas.jpg" class="img2B" alt="herramientas">
            </a>
            <div class="info2B">Herramientas electricas</div>
          </div>
        </div>
      </div>
    </section>

    <!-- Manteneme Actualizado -->

    <section class="suscripcion">
      <h3>MANTÉNGAME ACTUALIZADO</h3>
      <p>Sea el primero en saber sobre nuestras últimas innovaciones y ofertas especiales</p>

      <a class="letter" href="#" title="Suscríbase!"><i class="fa-solid fa-envelope-circle-check"></i></a>

      <a class="ahora" href="#">¡Regístrese ahora!</a>

    </section>

  </main>

  <footer>
    <%- include('./partials/footer.ejs') %>
  </footer>

  <!-- Scrips -->
  <script src="https://kit.fontawesome.com/30f2e17de6.js" crossorigin="anonymous"></script>


</body>

</html>